$grey: #4f4f4f;
$white: #ffffff;
$green: #39bda7;
$blue: #03a9f4;
$transparent: rgba(255, 255, 255, 0);
$black-05: rgba(0, 0, 0, 0.05);

.problem-created {
  background-color: #fff;
}

.thanks-text {
  font-size: 2rem;
  padding-top: 10rem;
}

.info-message {
  font-size: 4rem;
  padding: 4rem 0 8rem;
  width: 60rem;
}

a {
  p {
    font-size: 2rem;
    padding: 7rem;
    &:hover {
      color: #29bbff;
    }
  }
}

.goto-profile-button {
  background:$blue;
  color:$white;
  border:none;
  margin: 7rem auto;
  position: relative;
  border-radius: 7rem;
  display: block;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor: pointer;
  transition:800ms ease all;
  outline:none;
  &:hover{
    background:$transparent;
    color:#002e42;
  }
  &:before,
  &:after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: $blue;
    transition:400ms ease all;
  }
  &:after {
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  &:hover:before,
  &:hover:after {
    width:100%;
    transition:800ms ease all;
  }  
}