//COLORS
$grey: #4f4f4f;
$white: #ffffff;
$green: #39bda7;
$blue: #03a9f4;
$transparent: rgba(255, 255, 255, 0);
$black-05: rgba(0, 0, 0, 0.05);

.user-choice {
  color: $grey;
  background-color: $white;
  height: 50vh;
  a {
    p {
      font-size: 5rem;
      padding: 12rem;
      &:hover {
        color: #29bbff;
      }
    }
    
  }
}

.dev-choice {
  color: #f5f5f5;
  background-color: #03a9f4;
  height: 50vh;
  a {
    p {
      font-size: 5rem;
      padding: 12rem;
      &:hover {
        color: $white;
      }
    }
  }
}

