.profile-background {
  background-color: #1db6fc;
  width: 100vw;
  height: 100vh;
}

.dev-header {
  height: 20vh;
  width: 100vw;
  background-color: #1db6fc;
}

.dev-header-container {
  height:100%;
  width:80rem;
  display: block;
  margin: 0 auto;
  background-color: #03a9f4;
  // box-shadow: 0px -12px 400px 100px #1d1d1d;
  border-left: 2px solid rgba(255, 255, 255, 0.219);
  border-right: 2px solid rgba(255, 255, 255, 0.219);;
  img {
    border-radius: 3rem;
    width: 9rem;
    margin: 3rem 2rem 0;
  };
  p {
    font-size: 2rem; 
    text-align: -webkit-auto; 
    position: relative; 
    font-weight: 100;
    top: 9rem; 
  };
  ul {
    list-style: none;
  };
  li {
    display: inline;
    margin-right: 1rem;
    font-size: .8rem;
    color: #f8f8ff;
    position: relative;
    top: 7.5rem;
    left: 9.9rem;
  };
}

.main {
  height: 40vh;
  width: 100vw;
  background-color: #1db6fc
}

.main-container {
  height:80vh;
  width:80rem;
  display: block;
  margin: 0 auto;
  background-color: #fff;
  // box-shadow: 0px -12px 400px 100px #1d1d1d;
  border-left: 2px solid rgba(255, 255, 255, 0.219);;
  border-right: 2px solid rgba(255, 255, 255, 0.219);;
}

.main-section-titles {
  font-size: 3rem;
  padding-top: 2rem;
  font-weight: 100;
  margin-left: 14rem;
  width: 60rem;
  color: #000;
  a {
    color: #7c7c7c;
    &:hover {
      color: #03a9f4;
    }
  }   
}

.main-section-choice {
  font-size: 3rem;
  padding-top: 2rem;
  font-weight: 100;
  margin: 2rem 0 0 10rem;
  width: 60rem;
  color: #7c7c7c;
}

.main-section {
  background-color: #fff;
  width: 75rem;
  height: 30rem;
  margin: 1rem auto;
  overflow: scroll;
}

.problem-card {
  width: 76rem;
  height: 9rem;
  margin: 2rem 1rem;
  background-color: #e8f6fb;
}

.dev-problem-title {
  color: #727272;
  text-align: left;
  font-size: 1.5rem;
  margin: 1rem 1rem 0 1rem;
  padding-top: .3rem;
}

.dev-problem-body {
  color: #727272;
  text-align: left;
  margin-left: 1rem;
  font-weight: 100;
  height: 5.6rem;
  overflow: scroll;
}

.signup-button {
  border: none;
  float: right;
  margin: -5rem 5rem 0 0;
  width: 7rem;
  height: 3rem;
  border-radius: 1rem;
  background-color: #2f4f4f;
  color: #fff;
  font-size: 1rem;
  &:hover {
    background-color: #03a9f4;
  }
  &:disabled {
    background-color: #c6d5da;
  }
}

.selected {
  border: none;
  float: right;
  margin: -5rem 5rem 0 0;
  width: 7rem;
  height: 3rem;
  border-radius: 1rem;
  background-color: #c6d5da;
  color: white;
  font-size: 1rem;
  outline: none;
}

.dev-category-container {
  width: 74rem;
  height: 1.3rem;
  background-color: #d8e5ea;
}

.category-display {
  border: none;
  background-color: #ff69b4;
  margin-right: .2rem;
  border-radius: 1rem;
  height: 1.3rem;
  font-size: .8rem;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.signup-form {
  background-color: rgba(14, 15, 16, 0.619608);
  width: 55rem;
  height: 32rem;
  margin: 25vh auto;
  border-radius: 3rem;
}

.signup-title {
  font-size: 4rem;
  padding: 2rem 0;
}

.signup-info {
  font-size: 1rem;
  width: 40rem;
}

.repo-input {
  width: 1rem;
  display: block;
  width: 40rem;
  height: 3rem;
  margin: 2rem auto;
  border: none;
  background: none;
  background-color: #333435;
  font-size: 1.5rem;
  color: #70a1ff;
  text-align: center;
}

.contact-info {
  width: 1rem;
  display: block;
  width: 40rem;
  height: 3rem;
  margin: 2rem auto;
  border: none;
  background: none;
  background-color: #333435;
  font-size: 1.5rem;
  color: #70a1ff;
  text-align: center;
}

.submit-signup {
  width: 6rem;
  height: 2rem;
  border: none;
  background: none;
  margin: 0 auto;
  display: block;
  color: #f8f8ff;
  font-size: 2rem;
  &:hover {
    color: #70a1ff;
  }
}