.client-login {
  color: #4f4f4f;
  background-color: #ffffff;
  height: 50vh; }
  .client-login a p {
    font-size: 5rem;
    padding: 12rem; }
    .client-login a p:hover {
      color: #29bbff; }

.dev-login {
  color: #f5f5f5;
  background-color: #03a9f4;
  height: 50vh; }
  .dev-login a p {
    font-size: 5rem;
    padding: 12rem; }
    .dev-login a p:hover {
      color: #ffffff; }
