$grey: #4f4f4f;
$white: #ffffff;
$green: #39bda7;
$blue: #03a9f4;
$transparent: rgba(255, 255, 255, 0);
$black-05: rgba(0, 0, 0, 0.05);

.categories-instructions {
  font-size: 4rem;
  padding-top: 2rem;
  color: $grey;
  line-height: 4rem;
  margin-bottom: .6rem;
}

.categories {
  display: block;
  background-color: $white;
  margin: 2rem auto;
  width: 60%;
  height: 22rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-button {
  border-radius: 1rem;
  background-color: #03a9f4;
  color: #f8f8ff;
  border: none;
  height: 2rem;
  padding: 0 1rem;
  font-size: 1rem;
  margin: .4rem;
  &:hover {
    background-color: #005983;
  };
  &:active {
    background-color: #00364e;
  }
}
.selected-category {
  border-radius: 1rem;
  background-color: #494949;
  color: #8a8a8a;
  border: none;
  height: 2rem;
  padding: 0 1rem;
  font-size: 1rem;
  margin: .4rem;
  
}
