.categories-instructions {
  font-size: 4rem;
  padding-top: 4rem;
  color: #f8f8ff;
  line-height: 4rem;
  margin-bottom: .6rem;
}

.categories {
  display: block;
  background-color: #607d8b;
  margin: 0 auto;
  width: 60%;
  height: 22rem;
}

.category-button {
  border-radius: 1rem;
  background-color: #03a9f4;
  color: #f8f8ff;
  border: none;
  height: 2rem;
  padding: 0 1rem;
  font-size: 1rem;
  margin: .4rem;
}
