.client-background {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh; }

.client-login-message {
  font-size: 5rem;
  padding-top: 12rem;
  color: #4f4f4f; }

.login-button {
  border: none;
  border-radius: .3rem;
  width: 12rem;
  height: 2.9rem;
  background-repeat: no-repeat;
  background-image: url("../../images/btn_google_light_normal_ios.svg");
  padding-left: 3rem;
  font-size: 1rem;
  color: #6d6c6c;
  margin: 4rem auto;
  display: block;
  background-color: #03a9f4;
  color: #ffffff; }
  .login-button:hover {
    color: #ffffff;
    background-image: url("../../images/btn_google_light_focus_ios.svg");
    background-color: #597cb8; }
  .login-button:active {
    color: #f8f8ff;
    background-image: url("../../images/btn_google_light_focus_ios.svg");
    background-color: #24498a; }
  .login-button:focus {
    outline: none; }
