//COLORS
$grey: #4f4f4f;
$white: #ffffff;
$green: #39bda7;
$blue: #03a9f4;
$transparent: rgba(255, 255, 255, 0);
$black-05: rgba(0, 0, 0, 0.05);

.client-background {
  background-color: $white;
  width: 100vw;
  height: 100vh;
}

.client-login-message {
  font-size: 5rem;
  padding-top: 12rem;
  color:$grey;
}

.login-button {
  border: none;
  border-radius: .3rem;
  width: 12rem;
  height: 2.9rem;
  background-repeat: no-repeat;
  background-image: url('../../images/btn_google_light_normal_ios.svg');
  padding-left: 3rem;
  font-size: 1rem;
  color: #6d6c6c;
  margin: 4rem auto;
  display: block;
  background-color: $blue;
  color: $white;

  &:hover {
    color: $white;
    background-image: url('../../images/btn_google_light_focus_ios.svg');
    background-color: #597cb8;
  }
  &:active {
    color: #f8f8ff;
    background-image: url('../../images/btn_google_light_focus_ios.svg');
    background-color: #24498a;
  }
  &:focus {
    outline: none;
  }
}