.welcome {
  font-size: 2rem;
  padding-top: 10rem; }

.title-instructions {
  font-size: 4rem;
  padding-top: 4rem;
  color: #f8f8ff; }

.example {
  font-size: 1rem;
  padding: 1rem;
  color: #a0a0a0; }

.title-input {
  background-color: rgba(0, 0, 0, 0);
  color: #ffaaaa;
  border: none;
  border-bottom: 1px solid #ffaaaa;
  margin: 4rem auto;
  display: block;
  width: 58rem;
  font-size: 2rem;
  height: 4rem;
  text-align: center; }
  .title-input::placeholder {
    color: #ff5990; }
  .title-input:focus {
    border-bottom: none;
    outline: none; }

.title-next-button {
  width: 6rem;
  height: 6rem;
  background: none;
  border: none;
  display: block;
  margin: 10.5rem auto 0; }
  .title-next-button img {
    width: 4rem; }
  .title-next-button:hover {
    color: #03a9f4; }
