.welcome {
  font-size: 2rem;
  padding-top: 10rem;
}

.title-instructions {
  font-size: 4rem;
  padding-top: 4rem;
  color: #f8f8ff
}

.example {
  font-size: 1rem;
  padding: 1rem;
  color: #a0a0a0;
}

input {
  background-color: rgba(0, 0, 0, 0);
  color: #ffaaaa;
  border: none;
  margin: 4rem auto;
  display: block;
  width: 54rem;
  font-size: 2rem;
  height: 4rem;
  text-align: center;
  &::placeholder {
    color: #ffaaaa91;
  }
  &:focus {
    outline: none;
  }
}

.next-button {
  width: 6rem;
  height: 6rem;
  background: none;
  border: none;
  display: block;
  margin: 12rem auto;
  img {
    width: 4rem;
  }
}
