.header {
  height: 20vh;
  width: 100vw; }

.header-container {
  height: 100%;
  width: 64rem;
  display: block;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.288); }

.problem {
  height: 40vh;
  width: 100vw;
  background-color: black; }

.problem-container {
  height: 100%;
  width: 64rem;
  display: block;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.288); }

.stats {
  height: 40vh;
  width: 100vw;
  background-color: #1883e7; }

.stats-container {
  height: 100%;
  width: 64rem;
  display: block;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.288); }
