.sorry-text {
  font-size: 2rem;
  padding-top: 10rem;
}

.info-message {
  font-size: 4rem;
  padding: 4rem 0 8rem;
  width: 60rem;
  line-height: 5rem;
}

.nav-button {
  background: none;
  border: none;
  color: #f8f8ff;
  width: 16rem;
  height: 4rem;
  margin: 0 auto;
  display: block;
  font-size: 1.3rem;
  &:hover {
    color: #29bbff;
  }
}