.sorry-text {
  font-size: 4rem;
  padding-top: 10rem;
}

.info-message {
  font-size: 3rem;
  padding: 4rem 0 8rem;
  width: 60rem;
  line-height: 5rem;
}

.nav-button {
  border: none;
    background-color: #4f4f4f;
    border-radius: 2rem;
    font-size: 1.2rem;
    color: white;
    width: 11rem;
    padding: 0;
    height: 3.4rem;
    margin: 0 auto;
    display: block;
  &:hover {
    background-color: #29bbff;
  }
}